/*accueil*/
.content{
	width: 100%;
	height: 100%;
	background-color: rgba(250,250,250,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.diapo{
	width: 45%;
	height: 300px;
}
.carousel-inner img {
    width: 100%;
    height: 300px;
}

.img-actu{
	width: 250px;
	height: 200px;
}

.profil{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.actualite{
	margin-top: 5%;
	margin-bottom: 5%;
	width:70%;
	height: auto;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2%;
	box-shadow: 1px 1px 20px 1px rgba(25,25,25,1);	
}

.nom-post{
	width: 30%;
	height: 100%;
}
.actu-title{
	width: 100%;
}

.title{
	width: 60%;
	font-size: 25px;
	font-family: times new roman;
	color: rgb(20,75,20);
}

.actu-content{
	padding: 2%;
	border-bottom: 1px solid black;
	transition-duration: 0.5s;
	position: relative;
}

.actu-content-post{
	display: flex;
	justify-content: space-between;
}

.post-content{
	padding-left: 2%;
	padding-right: 2%;
	width: 70%;
	height: 100%;
	text-align: justify;
	font-size: 17px;
	font-family: times new roman;
}

.actu-content:hover{
	background-color: rgba(12,125,12,0.3);
}

.comment{
	position: absolute;
	top: 1%;
	right: 1%;
}

.comment a{
	color: black;
}

/*detail comment*/

.profil-detail{
	width: 70px;
	height: 70px;
	border-radius: 10%;
}

.title-detail{
	width: 100%;
	text-align: center;
	font-size: 35px;
	font-family: times new roman;
	color: rgb(20,75,20);
}

.img-actu-detail{
	width:60%;
	max-height: 250px;
}

.img-post-detail{
	width: 100%;
	text-align: center;
}

.post-content-detail{
	
	width: 100%;
	height: 100%;
	text-align: justify;
	font-size: 17px;
	font-family: times new roman;
}

.actualite-detail{
	margin-top: 5%;
	margin-bottom: 5%;
	width:70%;
	height: auto;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 1px 1px 20px 1px rgba(25,25,25,1);
	padding: 2%;
}

.profil-comment-post{
	width: 70px;
	height: 70px;
	border-radius: 10%;
}

.comment-post{
	margin-top: 2%;
}

.comment-list{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: rgba(30,30,30,0.3);
}
..comment-list-2{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: rgba(200,200,220,0.3);
}

.comment-content{
	display: flex;
}

.profil-comment{
	width: 15%;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 14px;

}

.comment-content{
	width: 100%;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 14px;
}

.comment-date{
	padding-left: 2%;
	font-size: 14px;
	margin-bottom: 1%;
}

.champs-commentaire{
	margin-top: 2%;
	padding: 2%;
	background-color: rgba(30,30,30,0.3);
}

.mettre-commentaire{
	font-size: 14px;
}

.commentaire-to-fill{
	display: flex;
	justify-content: space-between;
}

.zone{
	width: 90%;
}

.bouton{
	width:70px;
	height: 36px;
	border: none;
	border-radius: 5%;
}





